<div class="report" layout="column" layout-fill>
    <md-button id="addReport" class="md-fab md-primary" md-theme="red" aria-label="New Report" ng-click="newReport($event)">
    <md-icon icon="assets/images/ic_add_24px.svg" style="fill: #fff; width: 24px; height: 24px;">></md-icon>
  </md-button>
  <section layout="row" flex>

  <md-content flex class="md-padding">
		<md-subheader class="md-primary">{{subheader}}</md-subheader>
    <!--<div layout="row">
      <h3 class="md-tile-content" flex="15">Date</h3>
      <h3 class="md-tile-content" flex="45">Name</h3>
    </div>-->
		<md-list ng-repeat="report in reports">
			<md-item class="md-whiteframe-z1">
				<md-item-content ng-class="{'md-whiteframe-z1 reportRow' : !hover, 'md-whiteframe-z2 reportRow': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
					<div class="md-tile-content" flex="15">
						<h4>Date: {{report.date | date}}</h4>
					</div> 
					<div class="md-tile-content" flex="45">
						<h4>Name: {{report.name}}</h4>
					</div>
          <md-button id="allocate" ng-class="{'md-fab animate-show': hover, 'md-blue-theme md-fab md-primary': report.allocated}" aria-label="Allocate" ng-show="hover || report.allocated">
            <md-icon icon="assets/images/ic_people_24px.svg" style="width: 24px; height: 24px;"></md-icon>
              <md-tooltip>
                Allocate
              </md-tooltip>
        </md-button>
				</md-item-content>
			</md-item>
		</md-list>
	</md-content>
  </section>

</div>