<div ng-include="'components/navbar/navbar.html'"></div>
<div class="report" layout="column" layout-fill>
<section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('md')">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>
      <md-content class="md-padding">
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </md-button>
        <p hide show-gt-md>
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
        </p>
      </md-content>
          <md-button class="md-primary" ng-click="newReport($event)">
      		New Report
    	</md-button>
    </md-sidenav>

	<md-content flex class="md-padding">
		<md-subheader class="md-primary">{{subheader}}</md-subheader>
		<md-list ng-repeat="report in reports">
			<md-item>
				<md-item-content ng-class="{'md-whiteframe-z2': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
					<div class="md-tile-content" flex="20">
						<h4>{{report.date | date}}</h4>
					</div> 
					<div class="md-tile-content" flex="45">
						<h4>{{report.name}}</h4>
					</div>
					<div class="md-tile-content" ng-if="report.allocated">
						<md-checkbox aria-label="Race Account" ng-model="report.allocated">Race Account</md-checkbox>
					</div>
				</md-item-content>
			</md-item>
		</md-list>
	</md-content>

    <md-content flex>
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
      </md-toolbar>
      <md-content class="md-padding">
        <md-button class="md-fab md-primary" md-theme="blue" aria-label="Allocate" data-drop="true" jqyoui-droppable>
            <md-icon icon="/img/icons/ic_people_24px.svg" style="width: 24px; height: 24px;"></md-icon>
        </md-button>
      </md-content>

    </md-content>
  </section>
</div>