<md-sidenav layout="column"
              style="overflow: hidden; display: flex;"
              class="md-sidenav-left md-whiteframe-z2"
              md-component-id="left"
              md-is-locked-open="$media('gt-sm')">

  <md-toolbar layout="column" class="md-medium-tall" style="min-height: 64px; max-height:64px; padding-top: 8px;">
    <div class="md-toolbar-tools" flex layout="column">
      <a href="" ng-click="goHome()" layout="row" flex >
        <img src="assets/images/roadtrip-icon.png" height="48px" width="48px"/>
        <div flex style="line-height:40px; text-indent: 15px;">Roadtrip</div>
      </a>
    </div>
  </md-toolbar>

  <md-content flex style="overflow: auto;">
    <div ng-repeat="section in menu.sections">

      <button class="menu-item menu-title md-menu-item"
        ng-click="menu.toggleSelectSection(section)"
        md-highlight="menu.isSectionSelected(section)"
        md-ink-ripple="#bbb">
        {{section.name}}
      </button>

      <a class="menu-item menu-sub-item md-menu-item"
          ng-show="menu.isSectionSelected(section)"
          ng-repeat="page in section.pages"
          ng-href="#{{page.url}}"
          md-highlight="menu.isPageSelected(section, page)"
          md-ink-ripple="#bbb">
          <span ng-bind="page.name"></span>
      </a>

    </div>
  </md-content>

</md-sidenav>

<div layout="column" layout-fill role="main">
  <md-toolbar layout="column">
    <div class="md-toolbar-tools" ng-click="openMenu()" flex layout="column">
      <div flex layout-fill layout="row">
        <button class="menu-icon" hide-gt-sm aria-label="Toggle Menu" style="position: relative; top: -5px;">
          <md-icon icon-fill="white" icon="assets/images/ic_menu_24px.svg"></md-icon>
        </button>
        <p style="line-height: 28px;" ng-if="menu.currentSection.name">{{menu.currentSection.name}}</p>
        <span layout="vertical" layout-align="center center" class="menu-separator-icon"
          ng-if="menu.currentPage" style="padding: 0 10px;">
          <img style="height: 16px;" src="assets/images/docArrow.png" alt="" aria-hidden="true" >
        </span>
        <p style="line-height: 28px;" ng-bind="menu.currentPage | humanizeDoc"></p>
      </div>
      <div flex></div>

    </div>
  </md-toolbar>

    <md-content ui-view md-scroll-y flex class="md-padding"></md-content>

</div>